* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 5em;
  /* padding-bottom: 0; */
  /* padding-left: 7em;
  padding-right: 7em; */
  background: linear-gradient(60deg,
      rgba(52, 4, 56, 0.836) 0% 50%,
      rgb(122, 97, 14) 50% 100%);
}

.color{
  color: grey;
}


.an{
  
    text-decoration: none;
    color: grey
}

.section-1 {
  border: none;

  background: rgb(230, 233, 233);
  border-radius: 10px;
  padding-bottom: 27px;
}
.point{
  cursor: pointer;
}

span.p-t {
  color: black;
}

.header-class {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-family: calibri;
}

.icon {
  color: black;
  font-weight: bold;
  margin-right: 35em;
  margin-left: 1em;
  font-family: calibri;
 
}



.space {
  margin-right: 1em;
}

.header {
  display: flex;
  padding-top: 1em;
  align-items: center;
  margin-bottom: 8em;
}

.btn {
  color: white;
  background: black;
  height: 40px;
  width: 80px;
  border-radius: 10px;
}

.image-container {
  /* border: 1px solid black; */
  width: 400px;

  padding-top: 0.5em;

  /* border: 1px solid black; */
}

.image {
  height: 250px;
  width: 250px;
  margin-left: 93px;
  border: 1px;
  border-radius: 67px;
  overflow: hidden;

}

.image-1 {
  width: 100%;
  height: 100%;
  /* overflow: auto; */


}


  .h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
    font-family: calibri;
}


.middle-part {
  display: flex;
  margin-bottom: 8em;
}

.content-container {
  margin-left: 4.2em;
  padding-right: 8em;
  width: 690px;
  height: 425px;
}

.p {
  text-align: start;
  font-size: 1.3em;
  color: #3b444b;
  font-family: calibri;
  line-height: 26px;
}

.content {
  width: 530px;
  height: 400px;

  padding-top: 0.5em;
  margin-right: 11em;

  /* border: 1px solid black; */
}

.first {
  margin-left: 3em;
  margin-bottom: 0.5em;
  font-size: 2.2em;
  font-family: calibri;
}



.Third-part {
  display: flex;
}

.content-2 {

  padding-top: 4em;
  padding-left: 7em;
}

.one {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  margin-right: 0.4em;
  background-color: white;
  border: none;
}

.two {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  margin-right: 0.4em;
  background-color: white;
  border: none;
}

.three {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  margin-right: 0.4em;
  background-color: white;
  border: none;
}

.first-btn {
  margin-bottom: 1em;
}

.four {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  margin-right: 0.4em;
  background-color: white;
  border: none;
}

.five {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  margin-right: 0.4em;
  background-color: white;
}

.six {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  margin-right: 0.4em;
  background-color: white;
  border: none;
}

.second-btn {
  margin-bottom: 1em;
}

.seven {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  margin-right: 0.4em;
  background-color: white;
}

.eight {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  margin-right: 0.4em;
  background-color: white;
}

.nine {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  margin-right: 0.4em;
  background-color: white;
}

.ten {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  margin-right: 0.4em;
  background-color: white;
}

.third-btn {
  margin-bottom: 1em;
}

.fourth-btn {
  margin-bottom: 1em;
}

.eleven {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  margin-right: 0.4em;
  background-color: white;
}

.twelve {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  margin-right: 0.4em;
  background-color: white;
}

.thirteen {
  color: black;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  margin-right: 0.4em;
  background-color: white;
}

#second {
  margin-left: 7em;
  font-family: calibri;
  width: 452px;
  line-height: 23px;
  color: #3b444b;
  display: none;
}

#first{
  display: none;
}

#third
{
  display: none;
  color: #3b444b;
}



#four
{
  display: none;
}

.contact-class {
  margin-left: 5.8em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  color: #3b444b;
  font-family: calibri;
}

#contact{
  height: 133px;
}


.contact-anchor {


  text-decoration: None;
  color: grey;
}

.work {
  margin-top: 120px;
}


.btn19{
  width: 46px;
  height: 55px;
  background: url(../images/hand.png);
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 119px;
  left: 303px;
  border: none;
}

.header-class:hover{
  color: blue;
}

.btn20{
  width: 30px;
  height: 39px;
  background: url(../images/plus1.png);
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 827px;
  left: 474px;
  border: none;
}

.btn21{
  width: 30px;
  height: 35px;
  background: url(../images/plus1.png);
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 1223px;
  left: 331px;
  border: none;
}


.btn22{
  width: 30px;
  height: 35px;
  background: url(../images/plus1.png);
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 1473px;
  left: 345px;
  border: none;
}


/* MEDIA QUERY */



@media screen and (min-width: 768px) and (max-width:1024px){

 .icon{

  margin-right: 19em;
 }

 .btn19{
  left: 697px;
 }

 .p{
  line-height: 1.2em;
    width: 20em;
 }


 .first {
  margin-left: 2em;
 
  font-size: 2em;
  margin-bottom: 1em;
  
}
.content-2 {
  padding-top: 1em;
  padding-left: 0em;
}

.content{
  margin-right: 1em;
}

.btn20{
  top: 824px;
  left: 405px;
}

#second{
  margin-left: 4.5em;
  font-size: .9em;
}

.btn21{
  top: 1219px;
  left: 273px;
}


.btn22{
  top: 1471px;
  left: 287px;
}


.contact-class{
  margin-left: 3.4em;
}




} 





@media screen and (max-width: 360px){

  .container {
    padding: 1em;}



    .btn {
      color: white;
      background: black;
      height: 15px;
      width: 34px;
      border-radius: 10px;
      font-size: .3em;
  
  }

    .icon{
      color: black;
      font-weight: bold;
      /* margin-right: 35em; */
      margin-left: 2em;
      font-family: calibri;
      font-size: 0.6em;
      margin-right: 1em;
      width: 7em;
      padding-top: 3px;
    }

    .header {
      display: flex;
      padding-top: 1em;
      align-items: center;
      margin-bottom: 2em;
    }

    .header-class {
      color: black;
      font-weight: bold;
      text-decoration: none;
      font-family: calibri;
      /* display: none; */
      font-size: .5em;
  }

  .middle-part {
    display: flex;
    margin-bottom: -14em;
    margin-top: 4em;



  }



  .image-container {
    /* border: 1px solid black; */
    width: 400px;
    padding-top: 0em;
    /* border: 1px solid black; */
}


.image {
  height: 114px;
  width: 109px;
  margin-left: 21px;
  border: 1px;
  border-radius: 17px;
  overflow: hidden;
}

.content-container {
  margin-left: 3.5em;
  padding-right: 0em;
  width: 690px;
  height: 425px;
}

.h1 {
  font-size: 1.4em;
  margin-bottom: 0.2em;
  font-family: calibri;
}


.btn19 {
  width: 23px;
  height: 24px;
  background: url(../images/hand.png);
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 121px;
  left: 304px;
  border: none;
}
 

.p {
  text-align: start;
  font-size: .5em;
  color: #3b444b;
  font-family: calibri;
  line-height: 11px;
  padding-top: .5em;
}

.first {
  /* margin-left: 3em; */
        /* margin-left: 3em; */
        margin-left: 1.2em;
        margin-bottom: 0.5em;
        font-size: .9em;
        font-family: calibri;
        padding-left: 0px;
}



#second {
  margin-left: 1.9em;
  font-family: calibri;
  width: 158px;
  line-height: 13px;
  color: #3b444b;
  display: none;
  font-size: .6em;
}

.btn20 {
  width: 15px;
  height: 20px;
  background: url(../images/plus1.png);
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 357px;
  left: 158px;
  border: none;
}


.content {
  width: 219px;
  height: 296px;
  padding-top: 0.5em;
  margin-right: 0px;
  /* margin-right: 11em; */
  /* border: 1px solid black; */
}


.one {
 
  font-size: .5em;
}

.two {
 
  font-size: .5em;
}

.three {
 
  font-size: .5em;
}

.four {
 
  font-size: .5em;
}

.five {
 
  font-size: .5em;
}

.six {
 
  font-size: .5em;
}

.seven {
 
  font-size: .5em;
}

.eight {
 
  font-size: .5em;
}



.nine {
 
  font-size: .5em;
}

.ten {
 
  font-size: .5em;
}

.eleven {
 
  font-size: .5em;
}

.twelve {
 
  font-size: .5em;
}

.thirteen {
 
  font-size: .5em;
}

.first-btn {
  margin-bottom: .5em;
}

.second-btn {
  margin-bottom: .5em;
}

.third-btn {
  margin-bottom: .5em;
}

.fourth-btn {
  margin-bottom: .5em;
}

.content-2 {
  padding-top: 0.5em;
  padding-left: 0em;
  /* padding-left: 7em; */
}

.contact-class {
  margin-left: 2em;
        margin-bottom: 0.5em;
        font-size: .5em;
        color: #3b444b;
        font-family: calibri;}


 
 
 
 
 .btn21 {
  width: 16px;
  height: 19px;
  background: url(../images/plus1.png);
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 645px;
  left: 98px;
  border: none;
}

.work {
  margin-top: 6px;
}

.btn22{
  width: 15px;
  height: 18px;
  background: url(../images/plus1.png);
  background-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 784px;
  left: 100px;
  border: none;}


p.pp {
  margin-top: 1.5em;
}

.Third-part {
  display: flex;
  margin-top: 2em;
}

#third{
  margin-left: .2em;
}

#four{
  margin-left: .2em;
}

}








/* 
@media (max-width: 768px) {
  .container {
    padding: 2em;}

    .icon {
      margin-right: 10em;
      font-size: 1em;
  }
  
  .h1 {
    font-size: 2.5em;
    margin-top: 1.2em;
}

.btn19 {
  left: 616px;
  top: 253px;
}

.first {
  margin-left: 2em;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.btn21 {
  top: 1165px;
  left: 181px;
}

.btn20 {
  top: 772px;
  left: 278px;
}

.contact-class {
  margin-left: 2.7em;
}

#second {
  margin-left: 3.5em;
  font-size: .9em;
  width: 330px;
  line-height: 20px;
}

.content {
  width: 373px;}

  .btn22 {
    top: 1418px;
    left: 187px;
}

}
 */
